.navbar {
  color: #f5f5dc; /* cream */
  /* box-shadow: 0 3px 10px rgba(255, 255, 255, 0.05); */
  position: absolute;
  width: 100%;
}
.navbar a {
  color: white;
}


.navbar a:hover {
  color: #f9f1e7; /* same as default */
  transform: scale(1.05); /* optional: adds subtle interaction */
}


.about-section {
  background: linear-gradient(to bottom right, #262b33cf, #121212);
  padding: 80px 20px;
  color: white;
  text-align: left;
}

.container {
  /* max-width: 900px;
  margin: 0 auto;
  padding: 0 20px; */
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #b3874d; /* muted gold */
  margin-bottom: 30px;
}

.about-text,
.mission-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 40px;
}

.sub-heading {
  font-size: 1.5rem;
  color: white;
  margin-top: 30px;
  margin-bottom: 15px;
}

.check-list {
  list-style: none;
  padding-left: 0;
  font-size: 1.1rem;
  line-height: 2;
}

.check-list li {
  padding-left: 1.2em;
  position: relative;
}
